version: '3'
services:
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - '80:80'

  backend:
    build:
      dockerfile: Dockerfile
      context: .
    container_name: app_backend
    volumes:
      - /app/node_modules
      - ./backend:/app
